.logo {
    top: 20px;
    width: 320px;
    left: 16px;
    &-img {
        width: 100%;
    }
    position: fixed;

}


.navbar {
    position: fixed;
    left: 16px;
    top: 100px;
    display: flex;
    flex-direction: column;
    
    &-list {
        text-align:left ;
        padding: 0;
        margin: 0;
        list-style: none;
        &-item {
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
    
        &-span {
            font-size: 32px;
            font-style: italic;
        }
    
    } 
}